<%= form_for(@list) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.file_field :photo %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
